BAHAN SOAL

In [53]:
company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

SOAL NOMOR 1

In [54]:
sorted_companies = sorted(
    company_detail_list, 
    key=lambda x: x['name'], 
    reverse=True
)

# Tampilkan hasil
for company in sorted_companies:
    print(company)

{'name': 'Company 3', 'domain': 'Healthcare', 'country': 'United States'}
{'name': 'Company 2', 'domain': 'Technology', 'country': 'United Kingdom'}
{'name': 'Company 1', 'domain': 'Retail', 'country': 'United States'}

SOAL NOMOR 2

In [55]:
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

SOAL NOMOR 3

In [56]:
company_domain_map = {company['name']: company['domain'] for company in company_detail_list}

employees_by_domain = {}

for employee in employee_detail_list:
    company = employee['company']
    domain = company_domain_map[company]  
  
    if domain not in employees_by_domain:
        employees_by_domain[domain] = [] 
    employees_by_domain[domain].append(employee['full_name'])

for domain, employees in employees_by_domain.items():
    print(f"{domain}:")
    for name in employees:
        print(f"    - {name}")
    print()

Retail:
    - John Doe
    - Ying Han Tan
    - Robert White

Technology:
    - Tom Smith
    - Rubby Lee

Healthcare:
    - Andrew Sebastian
    - Kenneth Ng

SOAL NOMOR 4

In [57]:
def get_employees_with_country():   
    company_country_map = {company['name']: company['country'] for company in company_detail_list}
    
    employee_country_list = []
    
    for employee in employee_detail_list:
        company = employee['company'] 
        country = company_country_map[company]  
        
        employee_info = {
            'full_name': employee['full_name'],
            'company': company,
            'country': country
        }
        employee_country_list.append(employee_info)  
    return employee_country_list  

result = get_employees_with_country()

for item in result:
    print(f'full_name: "{item["full_name"]}",')
    print(f'company: "{item["company"]}",')
    print(f'country: "{item["country"]}"')
    print()

full_name: "John Doe",
company: "Company 1",
country: "United States"

full_name: "Tom Smith",
company: "Company 2",
country: "United Kingdom"

full_name: "Andrew Sebastian",
company: "Company 3",
country: "United States"

full_name: "Ying Han Tan",
company: "Company 1",
country: "United States"

full_name: "Kenneth Ng",
company: "Company 3",
country: "United States"

full_name: "Rubby Lee",
company: "Company 2",
country: "United Kingdom"

full_name: "Robert White",
company: "Company 1",
country: "United States"

Soal Nomor 5

In [58]:
def get_companies_with_employee_nationality():
    company_nationality_count = {}
  
    for employee in employee_detail_list:
        company = employee['company']  
        nationality = employee['nationality'] 
     
        if company not in company_nationality_count:
            company_nationality_count[company] = {}
     
        if nationality in company_nationality_count[company]:
            company_nationality_count[company][nationality] += 1
        else:
            company_nationality_count[company][nationality] = 1

   
    result = []
    for company, nationality_count in company_nationality_count.items():
        result.append({
            'company': company,
            'employee_nationality': nationality_count
        })

    return result


result = get_companies_with_employee_nationality()

for item in result:
    print(f"company: {item['company']}")
    print("employee_nationality:")
    for nationality, count in item['employee_nationality'].items():
        print(f"  {nationality}: {count}")
    print()

company: Company 1
employee_nationality:
  Australia: 2
  United Kingdom: 1

company: Company 2
employee_nationality:
  United States: 1
  Hong Kong: 1

company: Company 3
employee_nationality:
  United States: 2